body{
    background-color: #161616 ;
    margin:0px;
    padding:0px;
}

ul{
    list-style:none;
}
a{
    text-decoration:none;
}

section{
    width:100%;
    height:95vh;
    background-image:url();
}
#main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing:2px;
    font-family:calibri;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    box-sizing: border-box;
    padding:10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgbs(0,0,0,0.05);
    z-index: 1;
}
.menu{
    display: flex;
}
.menu li a {
    padding: 10px 15px;
    color:#6c707c;
    font-size:12px;

}
.logo{
    font-size: 25px;
    font-weight: bold;
    color:#292929;
    font-family: Poppins;
}
.menu li a:hover,
.menu li a.active{
    background-color: #292929;
     color:#ffffff ;
     font-weight: 700;
     transition: all ease 0.4s;

}
.name{
    font-family:calibri;
    width: 500px;
    position:absolute;
    left:20%;
    top:50%;
    transform:translate(-20%,-50%);

}
.name p:nth-child(1),
.name .details{
    color:#6c707c;
    font-size:16px;
}
.name h1{
    font-family:Poppins;
    font-size: 40px;
    margin:0px;
    letter-spacing: 3px;
    color:#292929
   
}.cv-btn{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color:#ffffff
}
.cv-btn:hover{
    background-color:#131313;
transition: all ease 0.5s;
}


h1 span{
    color:purple;
}
#about{
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}
.about-text{
    font-family:Calibri;
    width:50%;

}
.about-text h1{
    font-size: 5rem;
    color:purple;

}
.about-text h2{
    font-size: 3rem;
    color:#ffffff;
    font-weight: 400;
}
.about-text h1,h2{
    margin:0px;
    padding:0px;}
    .about-text p{
        font-size: 1.2rem;
        color:rgba(251,251,251,0.90)
    }
    .about-model img{
        width:250px;
        height: 250px;
        margin-right: 200px;
    }
    #sec2{
        width:100%;
        height: 100vh;
        font-family:calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:40px;
    }
    .s-heading h1{
        color:#ffffff;
        font-size: 3rem;
        margin: 0px;
        padding:0px;

    }
    .s-heading p{
        color:rgba(249,249,249,0.30);
        font-size :1rem;
        margin:0px;
        padding:0px;
    }
    .s-heading{
        text-align: center;
        margin: 20px 0px;
    }
    .sec2 .content{
        display:flex;
        justify-content:center;
        flex-direction:row-reverse;
        flex-wrap:wrap;
        margin-top:40px;
    }
    .sec2 .content .box{
        width:340px;
        overflow: hidden;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
        position: relative;
        transition:0.5s;
  
    }
    .sec2 .content .box a{
  color:black;
    }
    .sec2 .content .box:hover{
        transform: scale(1.1);
  
    }
    .sec2 .content .box .imgBx{
        position: relative;
        width:100%;
        height:300px;
    }
    .sec2 .content .box .imgBx img{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        object-fit:cover;
  }
  .sec2 .content .box .text{
  padding:15px 0 5px;
  }
  .sec2 .content .box .text p{
      font-weight:400;
      font-size: 30px;
      color:white;
  }
  #contact-btn h1{
      font-size:2rem;
      color:#1e1e1e;
      margin:10px;
      padding:5px;
      letter-spacing:4px;

  }
  #contact-btn {
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;
      background-color: #f4f7ff;
      margin:20px 0px;
      box-sizing: border-box;
      box-shadow: 2px 0px 20px rgba(0,0,0,0.4);
  }
  #contact-btn a{
      color:#ffffff;
      font-size:1rem;
      width:150px;
    height: 40px;
margin: 10px;
background-color: #1e1e1e;
box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
display:flex;
justify-content: center;
align-items: center;
  }
  #contact-btn a:hover{
    background-color: #17d1ac;
    color: #000000;
    transition: all ease 0.5s;
    font-weight: 700;

  }
  #contact-form{
      width:100%;
      height: 90vh;
      display:flex;
      justify-content:center;
      align-items: center;
  }
  #contact-form form{
display:flex;
width:70%;
height: 60vh;
background-color: #1a1a1a;
box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
border:1px solid rgba(255,255,255,0.01)
  }
  .contact-left{
      width:40%;
      height: 100%;
      display:flex;
      flex-direction:column;
      align-items: center;
  }
  .contact-right{
      width: 60%;
      height: 100%;
      box-sizing: border-box;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      border-left:1px solid rgba(255,255,255,0.08)
  }
  .c-l-heading{
      color:#ffffff;
      font-size: 3rem;
      letter-spacing:2px;
      font-weight: 400;
  }
  .f-email,.f-name{
      display:flex;
      flex-direction: column;

  }
  .f-email font,
  .f-name font{
      color:#bfbfbfbf;
      font-size:22px;
  }
  .f-email input,
  .f-name input{
      height: 30px;
      width: 250px;
      border:none;
      outline:none;
      background-color:transparent;
      border-bottom:1px solid #929292;
      color: #ffffff;
      margin:10px 0px;
  }
  .f-email input::placeholder,
  .f-name input::placeholder{
      opacity: 0.5;
      letter-spacing: 1px;
  }
  .f-name input:focus,
  .f-email input:focus{
      border-bottom: 1px solid #17d1ac;
      transition: all ease 0.5s;
  }
  .message font{
      font-size:18px;
    color: #4e4e4e;
  }
  .message{
      margin:20px;
      display: flex;
      flex-direction: column;
  }
  .contact-right textarea{
      width: 100% !important;
      height: 320px !important;
      border:none;
      outline:none;
      background-color: transparent;
      box-sizing:border-box;
      color:#ebebeb;
      font-size:16px;
  }
  .contact-right textarea::placeholder{
      color:#ebebeb;
      font-size: 18px;
      letter-spacing: 2px;
      

  }
  .navbar {
	float: left;
	padding: 0;
}
label {
	margin: 8px 0 0 20px;
	font-size: 30px;
    display: none;
    color: rgb(255, 222, 145);
}
#toggle {
    display: none;
}
  @media(max-width:1190){
      #main{
          background-size:1150px;
      }
      .name{
          left:10%;
          top:50%;
          transform:translate(-10%,-50%);
      }
      #contact-form form{
          width:95% !important;
      }


  }
  @media(max-width:970px){
      
      
      nav{
          padding:10px 30px;
      }
     
      label{
        display: block;
        cursor: pointer;
	}
      
      .active-menu{
          display: block !important;
      }
   .name{
       left:60%;
       top:50%;
       transform:translate(-50%,-50%);
   }
   .about-model{
       display: none;
   }
   #about{
       justify-content:center;
       padding-top:0px;

   }
   .about-text{
       width:90%;
   }
   .about-text h1{
       font-size:4rem;
  }

  .sec2 .content .box .imgBx{
  
    width:80%;
    height:0px;
  }
  .menu {
    display: block;
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
}
.menu ul li {
   
    padding: 10px 0;
}

    #toggle:checked + .menu {
		display: none;
    }
    .menu li a:hover,
.menu li a.active{
    background-color:#f4f7ff;
    color:black;
}
.menu li a.active{
    color:black
}
  }
  .c-l-heading{
      font-size:20px;
  }
 .submit-bt{
  height: 35px;
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
 }